.header {
  position: relative;
  width: 100%;
  color: #fff;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 32px;

  .a_link {
    position: absolute;
    display: block;
    top: 0;
    color: #6c6c6c;
    right:  30px;
    width: 60px;
    height: auto;

    .a_img {
      width: 100%;
      margin-bottom: 3px;
      vertical-align: middle;
      outline: none;
      height: auto;
    }
  }
}