.search-content {
  padding-top: 90px;
  .style_div_p {
    padding: 20px 30px;
  }
  .search-hot-title {
    padding: 20px 30px 0 30px;
    font-size: 28px;
    i {
      color: #646464;
    }
    span {
      margin-left: 12px;
      color: #646464;
    }
  }
}